VITE_SUPABASE_URL=https://mtetmtlftisvnkavgnid.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10ZXRtdGxmdGlzdm5rYXZnbmlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNDkyMDgsImV4cCI6MjA5MzkyNTIwOH0.a-T2dv2YKHImHJWN-iM-bCJn-S5zV2oJMZ5mbZ17V8Y
